<section class="article_list">
    {% if title %}
        <h4>{{ title }}</h4>
    {% endif %}
    {% for article in items %}
        <div class="article_item">
            <div class="img_article">
                <img class="img-responsive" src="{{ article.image }}">
            </div>
            <h2 class="title_article">
                {{ article.title }}
            </h2>
            <p class="desc_article">
                {{ article.body }}
            </p>
        </div>
    {% endfor %}

</section>

